<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>更新班级信息</title>
    <meta name="description" content="教材管理系统">
    <meta name="keywords" content="教材管理系统">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../css/element-ui.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/vue.js"></script>
    <script src="../js/index.js"></script>
    <!-- 引入组件库 -->
    <script src="../js/vue.js"></script>
    <script src="../js/element-ui.js"></script>
    <script src="../plugins/jquery/dist/jquery.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
    <script src="../js/base.js"></script>
</head>
<body>
<h2 style="text-indent:2em">管理员修改班级</h2>
<div id="app">
    <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
        &nbsp;&nbsp;&nbsp;&nbsp;年级:
        <el-select v-model="ruleForm.grade" placeholder="请选择年级">
            <el-option
                    v-for="item in grades"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
            </el-option>
        </el-select>
        <br/><br/>
        &nbsp;&nbsp;&nbsp;&nbsp;专业:
        <el-select v-model="ruleForm.major" placeholder="请选择专业">
            <el-option
                    v-for="item in majors"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
            </el-option>
        </el-select>
        <br/><br/>
        &nbsp;&nbsp;&nbsp;&nbsp;班级:
        <el-select v-model="ruleForm.g_class" placeholder="请选择班级">
            <el-option
                    v-for="item in g_classs"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
            </el-option>
        </el-select>
        <br/><br/>
        <el-form-item label="辅导员" prop="instructor">
            <el-input type="text" v-model="ruleForm.instructor" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="辅导员电话" prop="instructor_phone">
            <el-input type="text" v-model="ruleForm.instructor_phone" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="班级人数" prop="g_count">
            <el-input type="text" v-model="ruleForm.g_count" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="submitForm('ruleForm')">提交</el-button>
            <el-button @click="resetForm('ruleForm')">重置</el-button>
        </el-form-item>
    </el-form>
</div>
<script>
    var Main = {
        data() {

            var checkInstructor = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请输入辅导员姓名'));
                } else {
                    callback();
                }
            };
            var checkInstructor_phone = (rule, value, callback) => {
                if (!value) {
                    return callback(new Error('辅导员手机号码不能为空'));
                }
                callback();
            };
            var checkG_class = (rule, value, callback) => {
                if (!value) {
                    return callback(new Error('辅导员手机号码不能为空'));
                }
                callback();
            };
            return {
                majors:[{
                    value: '软件工程',
                    label: '软件工程'
                }, {
                    value: '大数据',
                    label: '大数据'
                }, {
                    value: '电子技术',
                    label: '电子技术'
                }, {
                    value: '移动互联',
                    label: '移动互联'
                }, {
                    value: '网络技术',
                    label: '网络技术'
                }],
                g_classs:[{
                    value: '1班',
                    label: '1班'
                }, {
                    value: '2班',
                    label: '2班'
                }, {
                    value: '3班',
                    label: '3班'
                }, {
                    value: '4班',
                    label: '4班'
                }, {
                    value: '5班',
                    label: '5班'
                }],
                grades: [{
                    value: '2018级',
                    label: '2018级'
                }, {
                    value: '2019级',
                    label: '2019级'
                }, {
                    value: '2020级',
                    label: '2020级'
                }, {
                    value: '2021级',
                    label: '2021级'
                }, {
                    value: '2022级',
                    label: '2022级'
                }],
                ruleForm: {
                    grade:'',
                    major:'',
                    g_class: '',
                    instructor:'',
                    instructor_phone:'',
                    g_count:''
                },
                g_count:'',
                rules: {
                    instructor:[
                        { validator: checkInstructor, trigger: 'blur' }
                    ],
                    instructor_phone:[
                        { validator: checkInstructor_phone, trigger: 'blur' }
                    ],
                    g_count:[
                        { validator: checkG_class, trigger: 'blur' }
                    ]
                }
            };
        },
        created() {
            this.ruleForm.pk_id = parseInt(this.getUrlParam("pk_id"), 10);
            this.initForm();
        },
        methods: {
            //获取url参数
            getUrlParam(name) {
                let reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
                let r = window.location.search.substr(1).match(reg);
                if (r != null) return unescape(r[2]);
                return null;
            },
            initForm(){
                var formData = {
                    pk_id:this.ruleForm.pk_id
                };
                //发送异步请求登入
                axios.post("/javaweb/grade/selByPk_id.do",formData).then(response=>{
                    if (response.data.flag) {
                        this.ruleForm = response.data.result;
                    }else {
                        this.$message({
                            type:"error",
                            message:response.data.message,
                            showClear:true
                        })
                    }
                })
            },
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        //如果表单校验通过
                        //封装请求参数
                        var formData = {
                            pk_id:this.ruleForm.pk_id,
                            grade:this.ruleForm.grade,
                            major:this.ruleForm.major,
                            g_class: this.ruleForm.g_class,
                            instructor:this.ruleForm.instructor,
                            instructor_phone:this.ruleForm.instructor_phone,
                            g_count:this.ruleForm.g_count
                        };
                        //发送异步请求登入
                        axios.post("/javaweb/grade/update.do",formData).then(response=>{
                            if (response.data.flag) {
                                this.$message({
                                    type:"success",
                                    message:response.data.message,
                                    showClear:true
                                })
                                setInterval(function () {
                                    window.location.href = "selAllGrade.html";
                                },1000);
                            }else {
                                this.$message({
                                    type:"error",
                                    message:response.data.message,
                                    showClear:true
                                })
                            }
                        })
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            }
        }
    }
    var Ctor = Vue.extend(Main)
    new Ctor().$mount('#app')

</script>
</body>
</html>