<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>班级教材管理信息</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../css/element-ui.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/index.js"></script>
    <!-- 引入组件库 -->
    <script src="../js/vue.js"></script>
    <script src="../js/element-ui.js"></script>
    <script src="../plugins/jquery/dist/jquery.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
    <script src="../js/base.js"></script>
</head>
<body>
    <div id="app">
        <div class="content-header common-search-border1">
            <el-button class="butAdd" @click="handleCreate"><i class="fa fa-plus" aria-hidden="true"></i> 新增班级教材
            </el-button>
            &nbsp;&nbsp;
            <el-button class="butAdd" ><i class="fa fa-plus" aria-hidden="true"></i> <a href="../gradeBook/downloadAll.do">导出当前查询班级教材信息</a>
            </el-button>
        </div>
        <br>

        <div class="filter-container">
            <!-- 搜索栏 -->

            年级:
            <el-select v-model="grade" placeholder="请选择年级" @change="getMajor">
                <el-option
                        v-for="item in grades"
                        :key="item.grade"
                        :label="item.grade"
                        :value="item.grade">
                </el-option>
            </el-select>
            专业:
            <el-select v-model="major" placeholder="请选择专业" @change="getG_class">
                <el-option
                        v-for="item in majors"
                        :key="item.major"
                        :label="item.major"
                        :value="item.major">
                </el-option>
            </el-select>
            班级:
            <el-select v-model="g_class" placeholder="请选择班级">
                <el-option
                        v-for="item in g_classs"
                        :key="item.g_class"
                        :label="item.g_class"
                        :value="item.g_class">
                </el-option>
            </el-select>


            <el-button @click="handleRest">清除</el-button>
            <el-button type="primary" class="butOK" @click="handleSearch">搜索</el-button>

        </div>

        <br>
        <el-table
                :data="tableData"
                border
                style="width: 100%">
            <el-table-column label="序号" align="center" width="50px">
                <template slot-scope="scope">
                    <span>{{ scope.$index+1 }}</span>
                </template>
            </el-table-column>
            <el-table-column
                    prop="grade"
                    label="年级"
                    width="100px">
                <template slot-scope="scope">
                    <span>{{ scope.row.grade }}</span>
                </template>
            </el-table-column>
            <el-table-column
                    prop="major"
                    label="专业"
                    width="100px">
                <template slot-scope="scope">
                    <span>{{ scope.row.major }}</span>
                </template>
            </el-table-column>
            <el-table-column
                    prop="g_class"
                    label="班级"
                    width="50px">
                <template slot-scope="scope">
                    <span>{{ scope.row.g_class }}</span>
                </template>
            </el-table-column>
            <el-table-column
                    prop="bookName"
                    label="教材名称"
                    width="150px">
                <template slot-scope="scope">
                    <span>{{ scope.row.bookName }}</span>
                </template>
            </el-table-column>
            <el-table-column
                    prop="bookAuthor"
                    label="教材作者"
                    width="100px">
                <template slot-scope="scope">
                    <span>{{ scope.row.bookAuthor }}</span>
                </template>
            </el-table-column>
            <el-table-column
                    prop="bookPrice"
                    label="教材价格"
                    width="80px">
                <template slot-scope="scope">
                    <span>{{ scope.row.bookPrice }}</span>
                </template>
            </el-table-column>
            <el-table-column label="操作" align="center" class-name="small-padding fixed-width">
                <template slot-scope="scope">
                    <div class="operation">
                        <el-button type="primary" size="mini" @click="handlePreview(scope.row)"><i class="fa fa-superpowers"
                                                                                                   aria-hidden="true"></i> 预览
                        </el-button>
                        <el-button type="primary" size="mini" @click="handleUpdate(scope.row)"><i class="fa fa-pencil-square-o"
                                                                                                  aria-hidden="true"></i> 修改
                        </el-button>
                        <el-button size="mini" type="danger" @click="handleDeleted(scope.row)"><i class="fa fa-trash-o" aria-hidden="true"></i>
                            删除
                        </el-button>
                    </div>
                </template>
            </el-table-column>
        </el-table>
        <div class="pagination-container">
            <el-pagination class="pagiantion" v-show="pagination.total>0" @size-change="handleSizeChange" @current-change="handleCurrentChange"
                           :current-page="pagination.pageNum" :page-sizes="[10, 20, 50, 100]" :page-size="pagination.pageSize" layout="total, sizes, prev, pager, next, jumper"
                           :total="pagination.total">
            </el-pagination>
        </div>

    </div>
    <script>
        var vue = new Vue({
            el:"#app",
            data:{
                grades: [],
                grade: '',
                majors:[],
                major:'',
                g_classs:[],
                g_class:'',
                pagination: {
                    total: 0,
                    pageNum: 1,
                    pageSize: 10
                },
                tableData: []
            },
            created() {
                this.getList();
                this.getGrade();
            },
            methods:{
                getGrade(){
                    //发送异步请求登入
                    axios.post("/javaweb/grade/selAllGrade.do").then(response=>{
                        if (response.data.flag) {
                            this.grades=response.data.result;
                        }else {
                            this.$message({
                                type:"error",
                                message:response.data.message,
                                showClear:true
                            })
                        }
                    })
                },
                getMajor(){
                    var pas = {
                        grade: this.grade
                    };
                    //发送异步请求登入
                    axios.post("/javaweb/grade/selAllMajor.do",pas).then(response=>{
                        //封装请求参数
                        if (response.data.flag,pas) {
                            this.major='';
                            this.majors=[]
                            this.g_class='';
                            this.g_classs=[]
                            this.majors=response.data.result;
                        }else {
                            this.$message({
                                type:"error",
                                message:response.data.message,
                                showClear:true
                            })
                        }
                    })
                },
                getG_class(){
                    var pas = {
                        grade: this.grade,
                        major: this.major
                    };
                    //发送异步请求登入
                    axios.post("/javaweb/grade/selByGradeAndMajor.do",pas).then(response=>{
                        //封装请求参数
                        if (response.data.flag,pas) {
                            this.g_class='';
                            this.g_classs=[]
                            this.g_classs=response.data.result;
                        }else {
                            this.$message({
                                type:"error",
                                message:response.data.message,
                                showClear:true
                            })
                        }
                    })
                },

                //试题分页列表
                getList() {
                    let t = this;
                    // 必传参数
                    let params = {
                        currentPage: t.pagination.pageNum, //当前页数
                        pageSize: t.pagination.pageSize //每页数据条数
                    };
                    // 选传参数
                    let queryParams = {};
                    //搜索条件中的年级名称
                    let grade = t.grade;
                    if (grade !== '') {
                        queryParams.grade = grade;
                    }
                    //搜索条件中的专业
                    let major = t.major;
                    if (major !== '') {
                        queryParams.major = major;
                    }
                    //搜索条件中的班级
                    let g_class = t.g_class;
                    if (g_class !== '') {
                        queryParams.g_class = g_class;
                    }
                    if (Object.keys(queryParams).length) {
                        params.queryParams = queryParams;
                    }
                    //请求参数时候{currentPage:,pageSize:,queryParams:{}}
                    axios.post("/javaweb/gradeBook/selAll.do",params).then(response=>{
                        if (response.data.flag) {
                            this.pagination.total = response.data.result.total
                            this.tableData = response.data.result.rows
                        }else {
                            this.$message({
                                type:"error",
                                message:response.data.message,
                                showClose:true
                            })
                        }
                    })
                },
                // 新增班级教材
                handleCreate() {
                    //跳转页面，跳转到addBook.html
                    window.location.href = "addGradeBook.html";
                },
                // 预览班级教材
                handlePreview(row) {
                    window.location.href = "gradeBookPreview.html?pk_id=" + row.pk_id;
                },
                // 更新班级教材
                handleUpdate(row) {
                    window.location.href = "gradeBookUpdate.html?pk_id=" + row.pk_id;
                },
                handleDeleted(row) {
                    this.$confirm('此操作将永久删除教材 ' + ', 是否继续?', '提示', {
                        type: 'warning'
                    }).then(() => {
                        let params = {
                            pk_id: row.pk_id
                        };
                        axios.post("/javaweb/gradeBook/deleteBy_id.do",params).then(response=>{
                            if (response.data.flag) {
                                this.$message.success(response.data.message);
                                this.getList();
                            }else {
                                this.$message({
                                    type:"error",
                                    message:response.data.message,
                                    showClose:true
                                })
                            }
                        })

                    }).catch(() => {
                        this.$message.info('已取消操作!');
                    });


                },
                //清除
                handleRest() {
                    this.grade='';
                    this.major='';
                    this.g_class='';
                },
                handleSizeChange(val) {
                    this.pagination.pageSize = val;
                    this.pagination.pageNum = 1;
                    this.getList();
                },
                handleCurrentChange(val) {
                    this.pagination.pageNum = val;
                    this.getList();
                },
                //搜索
                handleSearch() {
                    this.getList();
                }
            },
        });
    </script>

</body>
</html>